build/

# clion
.idea/
cmake-build-*/

# qt creator
CMakeLists.txt.user

# spack
.spack-env/
spack.lock
**/spack.lock
spack.yaml

.cache/

.cursor/

.code/

*.log

dynamic-compose.yaml

bash_history

# Temp files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
node_modules/
dist/
.coverage
Testing/
