# build
build/

# clion
.idea/
cmake-build-*/

# qt creator
CMakeLists.txt.user

# spack
.spack-env/
spack.lock
**/spack.lock

# cache
.cache/

# logs
*.log

# docker
dynamic-compose.yaml

# Temp files
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
node_modules/
dist/
.coverage
Testing/
