[submodule "external_libs/hcl"]
	path = external_libs/hcl
	url = https://github.com/scs-lab/hcl
[submodule "plugins/ChronoKVS/ChronoLog_FrontEnd"]
	path = plugins/ChronoKVS/ChronoLog_FrontEnd
	url = https://github.com/scs-lab/ChronoLog_FrontEnd.git
